:root {
	--primary-color: #185ee0;
	--secondary-color: #e6eef9;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  padding: 30px;
}


.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }  

.container {
  background: rgb(49, 172, 186);
  background: linear-gradient(
    90deg,
    rgba(49, 172, 186, 1) 0%,
    rgba(255, 214, 178, 1) 100%
  );
  height: 100vh;
  padding: 30px;
}

#content {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 50%;
  margin: 0px auto;
  height: 100%;
  text-align: center;
}


.interface {
  margin-top: 50px;
}

.user-inputs {
  margin-top: 10px;
  height: 25px;
  padding: 0 5px;
}

.user-inputs-container {
  margin-bottom: 30px;
  width: 25%;
  margin: 20px auto;
}

.weight-input{
  width: 92%;
}

.height-input {
  width: 45%;
}

#btn {
  margin: 20px auto;
  font-size: 1rem;
  font-weight: 600;
  padding: 8px;
  border-radius: 10px;
  background-color: #9CFF2E;
  color: #ffffff;
}

#result-number {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 16px auto;
}

#result-text {
  font-weight: 500;
}


 /* for sliding tab */

 #tabs {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
	align-items: center;
	justify-content: center;
 }


 #systems>input {
  display: none;
 }

 #systems {
 
  display: flex;
	position: relative;
	background-color: #fff;
	box-shadow: 0 0 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15);
	padding: 0.3rem;
	border-radius: 99px; 

 }


 .tab {
  display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	width: 75px;
	font-weight: 500;
	border-radius: 99px; 
	cursor: pointer;
	transition: color 0.15s ease-in;
  z-index: 4;
 }

 input[type="radio"] {
	&:checked {
		& + label {
			color: #185ee0;
		}
	}
}

input[id="bmi-imperial"] {
	&:checked {
		& ~ .glider {
			transform: translateX(0);
		}
	}
}

input[id="bmi-metric"] {
	&:checked {
		& ~ .glider {
			transform: translateX(100%);
		}
	}
}





  .glider {
    position: absolute;
    display: flex;
    height: 25px;
    width: 75px;
    background-color: var(--secondary-color);
    z-index: 1;
    border-radius: 99px; 
    transition: 0.25s ease-out;
  }
  

/****mobile***/

@media (max-width:760px) {
  #content {
    width: 90%;
  }

  .user-inputs-container {
    width: 35%;
  }

  #systems {
		transform: scale(0.8);
	}
}

  
